.loader-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--charcoal-black-light);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    height: 5rem;
    width: 5rem;
}